body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

/* Navbar */
nav {
    background-color: black;
    padding: 10px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

/* Container */
.container {
    padding: 20px;
}

/* Input & Button */
input {
    padding: 8px;
    width: 200px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
    background-color: blue;
    color: white;
    border: none;
}

/* Notes list */
li {
    margin-top: 10px;
    background: white;
    padding: 8px;
    list-style: none;
}